:root {
  --primary-color: #9e3668;
  --secondary-color: #f6a9ce;
  --background: #fde3f0;
  --accent-color: #691a40;
  --text-color: black;
  --header-font: "Quicksand", sans-serif;
  --paragraph-font: "Mulish", sans-serif;
}

body {
  background-color: var(--background);
}

nav {
  background-color: var(--secondary-color);
}

.hero {
  text-align: center;
  padding: 160px 20px;
}
.hero p {
  font-family: var(--paragraph-font);
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.hero h2 {
  font-family: var(--paragraph-font);
  font-size: 24px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--header-font);
}

h1 {
  font-size: 96px;
  font-weight: bold;
}

.btn-branding {
  background: var(--primary-color);
  border-radius: 4px;
  color: white;
  font-family: var(--header-font);
  font-size: 18px;
  line-height: 27px;
  padding: 15px 30px;
}
